@model NuSurvey.Web.Controllers.HomeController+HomeViewModel
           
@{
    ViewBag.Title = "Home Page";
}

@section AdditionalScripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.bt.min.js")'></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.balloon').bt({ positions: 'bottom' });
        });
    </script>
}


<a class="balloon" href='@Url.Action("Index", "SurveyResponse")' title="Answer Surveys"><img alt="Answer Surveys" src="@Url.Image("AnswerSurvey.png")"/></a>

@if (Model.Admin || Model.User) { 
    <a class="balloon" href='@Url.Action("Review", "Survey")' title="Review Your Surveys"><img alt="Review Your Surveys" src="@Url.Image("review.png")"/></a>
}

@*<h1>
    <a href="@Url.Action("Index", "SurveyResponse")">Answer Surveys</a> 
</h1>*@

