@model NuSurvey.Web.Controllers.HomeController.HomeViewModel
           
@{
    ViewBag.Title = "Home Page";
}

@section AdditionalScripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.bt.min.js")'></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.balloon').bt({ positions: 'bottom' });
        });
    </script>
}

<h3>
    Parents
</h3>
<a class="balloon" href='@Url.Action("PublicSurveys", "SurveyResponse")' title="Answer Surveys"><img alt="Answer Surveys" src="@Url.Image("AnswerSurvey.png")"/></a>

@*@if (Model.Admin || Model.User)*@
    <h3>
        Educators
    </h3>
    <a class="balloon" href='@Url.Action("Index", "SurveyResponse")' title="Answer Surveys"><img alt="Answer Surveys" src="@Url.Image("AnswerSurvey.png")"/></a>

    <a class="balloon" href='@Url.Action("Review", "Survey")' title="Review Your Surveys"><img alt="Review Your Surveys" src="@Url.Image("review.png")"/></a>


<h3>
    Program Director
</h3>
<a class="balloon" href='@Url.Action("Index", "ProgramDirector")' title="Manage Your Surveys"><img alt="Manage Your Surveys" src="@Url.Image("big_print.png")"/></a>

<h3>
    Manage Account
</h3>


@*<h1>
    <a href="@Url.Action("Index", "SurveyResponse")">Answer Surveys</a> 
</h1>*@

