@model NuSurvey.Web.Controllers.HomeController.HomeViewModel
           
@{
    ViewBag.Title = "Healthy Kids - Home Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section AdditionalScripts{
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.bt.min.js")'></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.balloon').bt({ positions: 'bottom' });
        });
    </script>

}

<span class="SpecialFont">
    <nav> <!--- This div is a place holder for an area that we might be adding navigation to.
              We are still working out the functionality of this section but I wanted to leave room
              and have it shown in the design spacing.  MLR 121313 --->
        <p></p>
    </nav>

    <div id="parents">
        <div class="container-center">
            <div id="parents-left">
                <h2>PARENTS</h2>
                <p>Introduction text goes here with instructions for selecting questionaire to the right. Curabitur dapibus accumsan lobortis. Proin ut lectus orci. Vivamus dignissim dignissim dui ut tempor. Morbi pulvinar ultricies risus eget tempus. Vestibulum non euismod mi, id commodo risus. Nunc ut ligula vel metus porttitor ornare.</p>
                <img src="@Url.Image("arrow.png")" alt="Select a Survey" />
            </div>
	
            <div id="parents-right">
                <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new { shortname = "HK"})'><img src="@Url.Image("hk-thumb.png")" alt="Healthy Kids Survey"  /></a> 
                <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new { shortname = "MCMT" })'><img src="@Url.Image("mcmt-thumb.png")" alt="My Child At Mealtime Survey" /></a> 
            
            </div>
            <br style="clear:both">
        </div> <!--- END main MLR 121313 --->

    </div>

    <div id="staff">
        <div class="container-center">
            <div id="staff-left">
                <h3>Educators</h3>
                <p>Introduction text goes here with instructions for educators. Vivamus viverra porttitor metus. Donec posuere faucibus nulla ac pulvinar. Cras nec leo varius, pharetra dui id, gravida enim. In eget purus vel lorem faucibus rhoncus in eu odio. Nunc vestibulum adipiscing orci elementum auctor.</p>
                <a href='@Url.Action("Index", "Educator")'>
                    <div class="login-button">
                        <p>Login Here</p>
                    </div>
                </a>
            </div>
	
            <div id="staff-right">
                <h3>Directors</h3>
                <p>Introduction text goes here with instructions for directors. Praesent ultricies, dolor eu elementum luctus, sem nibh rhoncus augue, ac blandit leo dui venenatis sem. Donec vitae pharetra nunc, vitae vehicula ligula. Sed sit amet luctus nulla. Integer non turpis eu urna blandit laoreet. Sed in consequat diam, vitae porta dolor.</p>
                <a href='@Url.Action("Index", "ProgramDirector")'>
                    <div class="login-button">
                        <p>Login Here</p>
                    </div>
                </a>
            </div>
            <br style="clear:both">
        </div> <!--- END main MLR 121313 --->

    </div>
</span>
@*<h3>
    Parents
</h3>
<a class="balloon" href='@Url.Action("PublicSurveys", "SurveyResponse")' title="Answer Surveys"><img alt="Answer Surveys" src="@Url.Image("AnswerSurvey.png")"/></a>

@if (Model.Admin || Model.User) {}
    <h3>
        Educators
    </h3>
    <a class="balloon" href='@Url.Action("Index", "SurveyResponse")' title="Answer Surveys"><img alt="Answer Surveys" src="@Url.Image("AnswerSurvey.png")"/></a>

    <a class="balloon" href='@Url.Action("Review", "Survey")' title="Review Your Surveys"><img alt="Review Your Surveys" src="@Url.Image("review.png")"/></a>


<h3>
    Program Director
</h3>
<a class="balloon" href='@Url.Action("Index", "ProgramDirector")' title="Manage Your Surveys"><img alt="Manage Your Surveys" src="@Url.Image("big_print.png")"/></a>

<h3>
    Manage Account
</h3>
*@

@*<h1>
    <a href="@Url.Action("Index", "SurveyResponse")">Answer Surveys</a> 
</h1>*@

