@if (ViewBag.IsKiosk == null || !(bool) ViewBag.IsKiosk)
{
    <div id="nav">
        <ul class="navigation">
            @*@if (ViewBag.IsKiosk != null && (bool) ViewBag.IsKiosk)
            {
                <li>@Html.ActionLink("Start Over", "Kiosk", "Home")</li>
            }
            else
            {*@
                @if (ViewBag.IsSpanish != null && (bool) ViewBag.IsSpanish)
                {
                    <li>@Html.ActionLink("Página Principal", "Spanish", "Home")</li>
                    <li>@Html.ActionLink("Padres", "Spanish", "Home", new {parent = true}, new {})</li> 
                    <li>@Html.ActionLink("Educadores", "Index", "Educator")</li>
                    <li>@Html.ActionLink("Directores", "Index", "ProgramDirector")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Parents", "Index", "Home", new {parent = true}, new {})</li>     
                    <li>@Html.ActionLink("Educators", "Index", "Educator")</li>
                    <li>@Html.ActionLink("Directors", "Index", "ProgramDirector")</li>
                }

                @if (ViewBag.IsSpanish != null && (bool)ViewBag.IsSpanish)
                {
                    <li>@Html.ActionLink("In English", "Index", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("en español", "Spanish", "Home")</li>
                }
            @*}*@

            @if (User.IsInRole("NSAdmin"))
            {
                <li>@Html.ActionLink("Admin", "Administration", "Home")</li>
            }
            @if (ViewBag.RestartKiosk != null && (bool) ViewBag.RestartKiosk == true)
            {
                <li>@Html.ActionLink("Restart Kiosk Mode", "Kiosk", "Home")</li>
                <li>@Html.ActionLink("Restart Email Only Kiosk Mode", "KioskEmail", "Home")</li>
            }

        </ul>
    </div>
}