@model NuSurvey.Core.Domain.Survey

@{
	ViewBag.Title = "Edit Survey";
}
@section SubNav {
    <ul class="navigation">
        <li>
            <a href="@Url.Action("Administration", "Home")">Admin Home</a> 
        </li>
        <li>
            <a href="@Url.Action("Index", "Survey")">Surveys</a> 
        </li>
        <li>
            Edit
        </li>
    </ul>
}

@section AdditionalScripts{
     <script type="text/javascript" src='@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")'></script>

    <script type="text/javascript">
        $(function () {
            $("table.datatable.categories").dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "aaSorting": [[ 1, "asc" ]],
                "aoColumns": [{ "bSearchable": false, "bSortable": false }, null, null, null, null]
            });
        });
        $(function () {
            $("table.datatable.questions").dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "aaSorting": [[1, "asc"]],
                "aoColumns": [{ "bSearchable": false, "bSortable": false }, null, null, null, null, null, null, null],
                "sScrollX": "100%",
                "sScrollXInner": "110%",
                "bScrollCollapse": true                
            });
        });    
    </script>
}


@*<h2>Edit</h2>*@

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js" type="text/javascript"></script>


@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
<fieldset>
@* Legend is required if you have more than one widget/unit to help the user understand what is being asked of them.
Example: Dinosaur 1  *@
	<legend>Survey Details</legend>
	@*<h4>Form Header</h4>*@
	@*<p>Be specific so the user understands what exactly you are looking for.  Example: After Dinosaur 1 moves out of his/her parents' den what will Dinosaur 1 do?  We need to know his employment plan, feeding area, as well as living situation.  This information will not be sold or given to carnivores.</p>*@
	<p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
	<ul>
		<li>
			<div class="editor-label required">
				@Html.LabelFor(model => model.Name)<span>*</span> 
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Name)
				@Html.ValidationMessageFor(model => model.Name)
			</div>
		</li>
		<li>
			<div class="editor-label">
				@Html.LabelFor(model => model.ShortName) 
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.ShortName)
				@Html.ValidationMessageFor(model => model.ShortName)
			</div>
		</li>
        <li>
			<div class="editor-label">
				@Html.LabelFor(model => model.QuizType) 
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.QuizType)
				@Html.ValidationMessageFor(model => model.QuizType)
			</div>
		</li>
		<li>
			<div class="editor-label">
				@Html.LabelFor(model => model.IsActive) 
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.IsActive)
				@Html.ValidationMessageFor(model => model.IsActive)
			</div>
		</li>
		@*@Html.HiddenFor(model => model.Id)*@
		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			<label>&nbsp;</label>
			<input class="button" type="submit" value="Submit" /> | @Html.ActionLink("Cancel", "Index")
		</li>
	</ul>
</fieldset>
}


@Html.Partial("_CategoriesList")

<br />


@Html.Partial("_QuestionsList")


<div>
	@Html.ActionLink("Back to List", "Index")
</div>

