@model NuSurvey.Web.Controllers.CategoryGoalViewModel

@{
    ViewBag.Title = "Goal Details";
}

@section SubNav {
    <ul class="navigation">
        <li>
            <a href="@Url.Action("Administration", "Home")">Admin Home</a> 
        </li>
        <li>
            <a href="@Url.Action("Index", "Survey")">Surveys</a> 
        </li>
        <li>
            <a href="@Url.Action("Edit", "Survey", new { id = @Model.Survey.Id })">Edit Survey</a> 
        </li>
        <li>
            <a href="@Url.Action("Edit", "Category", new { id = @Model.Category.Id })">Edit Category</a>
        </li>
        <li>
            Details
        </li>
    </ul>
}

<fieldset class="display-form">
	<ul>
        <li>
			<div class="display-label">@Html.Label("Category")</div>
			<div class="display-details">@Html.DisplayFor(a => a.Category.Name)</div>
		</li>
        <li>
			<div class="display-label">@Html.LabelFor(a => a.CategoryGoal.Name)</div>
			<div class="display-details">@Html.DisplayFor(a => a.CategoryGoal.Name)</div>
		</li>
		<li>
            <div class="display-label">@Html.LabelFor(a => a.CategoryGoal.IsActive)</div>
			<div class="display-details">@Html.DisplayFor(a => a.CategoryGoal.IsActive)</div>
		</li>
	</ul>
</fieldset>

