@model NuSurvey.Web.Controllers.QuestionDetailViewModel

@{
    ViewBag.Title = "Question Details";
}

@section SubNav {
    <ul class="navigation">
        <li>
            <a href="@Url.Action("Administration", "Home")">Admin Home</a> 
        </li>
        <li>
            <a href="@Url.Action("Index", "Survey")">Surveys</a> 
        </li>
        <li>
            <a href="@Url.Action("Edit", "Survey", new { id = @Model.Question.Survey.Id })">Edit Survey</a> 
        </li>
        @if (Model.Category != null)
        {
            <li>
                <a href="@Url.Action("Edit", "Category", new { id = @Model.Category.Id })">Edit Category</a> 
            </li>
        }
        <li>
            Details
        </li>
    </ul>
}

@*<h2>Details</h2>*@
<fieldset class="display-form">
	<ul>
		<li>
			<div class="display-label">@Html.LabelFor(a => a.Question.Name)</div>
			<div class="display-details">@Model.Question.Name</div>
		</li>
		<li>     
            <div class="display-label">@Html.LabelFor(a => a.Question.IsActive)</div>       
			<div class="display-details">@Html.DisplayFor(a => a.Question.IsActive)</div>
		</li>
		<li>
			<div class="display-label">@Html.LabelFor(a => a.Question.Order)</div>
			<div class="display-details">@Html.DisplayFor(a => a.Question.Order)</div>
		</li>
		<li>
			<div class="display-label">@Html.LabelFor(a => a.Question.IsOpenEnded)</div>
			<div class="display-details">@Html.DisplayFor(a => a.Question.IsOpenEnded)</div>
		</li>
		<li>
			<div class="display-label">@Html.LabelFor(a => a.Question.CreateDate)</div>
			<div class="display-details">@String.Format("{0:g}", Model.Question.CreateDate)</div>
		</li>
        <li>
            <div class="display-label">@Html.LabelFor(a => a.Question.Responses)</div>
            <div class="display-details">
            @foreach (var response in Model.Question.Responses.Where(a => a.IsActive).OrderBy(x => x.Order))
            {
                <input id="Questions[@response.Order]" type="radio" value="@response.Id" name="Questions.ResponseId" />                             
                <label for="Questions[@response.Order]">@response.Value (score = @response.Score)</label> <br />
            }
            </div>
        </li>
	</ul>

</fieldset>

