@model NuSurvey.Web.Controllers.PhotoEditModel


@{
    ViewBag.Title = "Details";

}

@section SubNav
{
	<ul class="navigation">
		
			<li>@Html.ActionLink("Edit", "Edit", new { id=Model.Photo.Id }) </li>
			<li>@Html.ActionLink("Back to List", "Index")</li>
		
	</ul>
}

<fieldset class="display-form">
    <legend>Photo</legend>
	<ul>

        <li>
            <div class="display-label">Name</div>
            <div class="display-details">@Model.Photo.Name</div>
        </li>
        
        <li>
            <div class="display-label">Tags</div>
            <div class="display-details">
                @foreach (var tag in Model.Photo.PhotoTags)
                {
                    <a href="@Url.Action("Search", "Photo", new { tag = tag.Name, questionId = Model.QuestionId })">@tag.Name</a>
                }
            </div>
        </li>

        <li>
			<div class="display-label">FileName</div>
			<div class="display-details">@Model.Photo.FileName</div>
		</li>

        <li>
            <div class="display-label">DateCreated</div>
            <div class="display-details">@String.Format("{0:g}", Model.Photo.DateCreated)</div>
        </li>

		<li>
			<div class="display-label">Photo</div>
			<div class="display-details"><img src='@Url.Action("GetPhoto", new { id = Model.Photo.Id })' /></div>
		</li>

	</ul>
</fieldset>



