@using NuSurvey.MVC.Helpers
@model NuSurvey.MVC.Controllers.CategoryViewModel

    <h2>Category Questions</h2>
    <p>
	    @Html.ActionLink("Create New", "Create", "Question", new { id = @Model.Survey.Id, categoryId = @Model.Category.Id }, new { })
    </p>
    <table class="datatable questions">
	    <thead>
		    <tr>
			    <th></th>
			    <th>
				    Order
			    </th>
			    <th>
				    Question
			    </th>
                <th>
                    Open Ended
                </th>
                <th>
                    Choices
                </th>
                <th>
                    Active
                </th>
		    </tr>
	    </thead>
	    <tbody>
    @{var odd = false; }
    @foreach (var item in Model.Category.Questions) {
		    <tr class="@(odd ? "odd": "even")">
			    <td>
                    <a href='@Url.Action("Details", "Question", new { id = @item.Id, categoryId = @Model.Category.Id })'><img src="@Url.Image("details.png")" alt="View the details of this Question"/>
                    <a href='@Url.Action("Edit", "Question", new { id = @item.Id, surveyId = @Model.Survey.Id, categoryId = @Model.Category.Id })'><img src="@Url.Image("edit.png")" alt="Edit this Question"/>                                        
			    </td>
			    <td>
				    @item.Order
			    </td>
			    <td>
				    @*@Html.Raw(item.Name)*@
                    @Html.HtmlEncode(item.Name)
			    </td>
                <td>
                    @if (item.IsOpenEnded)
                    { 
                    @item.IsOpenEnded
                    }
                </td>
                <td>
                    @item.Responses.Where(a => a.IsActive).Count() -  @item.Responses.Where(a => !a.IsActive).Count()
                </td>
			    <td>
                    @if (item.IsActive)
                    { 
                        @item.IsActive
                    }
			    </td>
		    </tr>
                    odd = !odd;
    }
	    </tbody>
    </table>



