@model IEnumerable<NuSurvey.Core.Domain.Photo>


@{
    ViewBag.Title = "Index";

}
@section AdditionalScripts{
     <script type="text/javascript" src='@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")'></script>

    <script type="text/javascript">
        $(function () {
            $("table.datatable").dataTable({ "bJQueryUI": true });
        });    
    </script>
}

<p>
	@Html.ActionLink("Upload Photo", "Upload")
</p>
<table class='datatable'>
	<thead>
		<tr>
			<th></th>
			<th>
				Photo
			</th>
			<th>
				Name
			</th>
            <th>
                Tags
            </th>
            <th>
                Uploaded
            </th>

			<th></th>

		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
                <a href='@Url.Action("Details", new {id=item.Id})'> <img alt="Photo Details" src="@Url.Image("details.png")"/></a>
				<a href='@Url.Action("Edit", new { id = item.Id })'><img alt="Photo Details" src="@Url.Image("edit.png")"/></a>
				
			</td>
			<td>
                <a href='@Url.Action("Details", new {id=item.Id})' >
                <img src='@Url.Action("GetThumbnail", new { id = item.Id })' />
                </a>
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@foreach (var tag in item.PhotoTags)
                {
                    <a href="@Url.Action("Search", "Photo", new { tag = tag.Name })">@tag.Name</a>            
                }
			</td>
            <td>
                @item.DateCreated
            </td>
            <td>
                <a href='@Url.Action("Delete", new { id = item.Id })'> <img alt="Delete Photo" src="@Url.Image("delete.png")"/></a>
            </td>
		
		</tr>
		odd = !odd;
}
	</tbody>
</table>



