@using NuSurvey.MVC.Helpers
@model NuSurvey.MVC.Controllers.SingleAnswerSurveyResponseViewModel


@{
    ViewBag.Title = "Next Question";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    ViewBag.questionDisplay = string.Format("display-{0}-question", Model.Survey.ShortName.ToLower().Trim());

    ViewBag.KioskClass = string.Empty;

    if (Model.Survey.ShortName.IsSpanish())
    {
        ViewBag.IsSpanish = true;
    }
    if (Model.Survey.QuizType.Equals("Kiosk", StringComparison.OrdinalIgnoreCase))
    {
        ViewBag.IsKiosk = true;
        ViewBag.KioskClass = "display-kiosk-question";
    }
    else
    {
        ViewBag.IsKiosk = false;
    }
}


@section AdditionalScripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>


    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.ui.timepicker.js")'></script>
    

    <script type="text/javascript">
        $(document).ready(function () {
            var isKiosk = @(ViewBag.IsKiosk.ToString().ToLower());
            if (isKiosk === true) {
                //Increment the idle time counter every minute.
                var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

                //Zero the idle timer on mouse movement.
                $(this).on('mousemove mousedown keypress', function ()
                {
                    idleTime = 0;
                    //console.log("Cleared");
                });
            }


            function timerIncrement() {
                idleTime++;
                //console.log("idle " + idleTime);
                if (idleTime >= 3) { // 3 minutes
                    var url = '@Url.Action("Kiosk", "Home")';
                    window.location.href = url;
                }
            }

            var percent = (@Model.AnsweredQuestions / @Model.TotalActiveQuestions) * 100;
            $("#progressbar").progressbar({ value: percent });

            $('.time').timepicker({
                defaultTime: '1:00',
                showLeadingZero: false,
                showPeriodLabels: false,
                hours: {
                    starts: 1,                  // first displayed hour
                    ends: 12                    // last displayed hour
                },
                minutes: {
                    starts: 0,                  // first displayed minute
                    ends: 55,                   // last displayed minute
                    interval: 5                 // interval of displayed minutes
                },
                rows: 3
            });

            $('.timeRange').timepicker({
                defaultTime: '1:00',
                showLeadingZero: false,
                showPeriod: true,
                rows: 4
            });

            if('@Model.DisplayBypass' == 'True'){
                $("#opendialog").dialog({ modal: true, width: '40%',  });
            }

            $(".bypassOption").click(function (e) {
                e.preventDefault();
                var byPassAnswer = $(this).data("bypass");
                if(!byPassAnswer == ""){
                    var reason = $(".bypassreason:checked").val();
                    if(reason == undefined){
                        alert("You must select a reason to skip the question, or go back to the question");
                    }
                    else{
                         $("#byPassAnswer").val(reason);
                         $("#opendialog").dialog("close");
                         $("form").submit();
                    }
                }
                else{
                    $("#opendialog").dialog("close");
                }
            });

        });
    </script>
}

@section QuizImage
{

    @if (!Model.Survey.ShortName.IsSpanish() && Model.Survey.ShortName.ToLower().Trim() == "hk") //Don't really need the IsSpanish, just thinking of future.
    {
        @*<div class="quiz-inst">
            <img src='@Url.Image("hk-header.png")'/>
        </div>*@
    }
    @if ((bool)ViewBag.IsKiosk)
    {
        //Question page: remove the div & img with the instructions. These are usually attached to a class on the 'main' div. 
        @*<div class="quiz-inst">
            <img src='@Url.Image("kiosk-header-04.png")' />
        </div>*@
    }
}


@using (Html.BeginForm())
{        
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.SurveyResponse.Id)
    @Html.HiddenFor(x => x.PublicGuid)

    
    
    <input id="byPassAnswer" name="byPassAnswer" type="hidden" />

    <fieldset class="@ViewBag.KioskClass @ViewBag.questionDisplay">
    @* Legend is required if you have more than one widget/unit to help the user understand what is being asked of them.
    Example: Dinosaur 1  *@
	    @*<legend>Survey Response</legend>*@
	    @*<p>Be specific so the user understands what exactly you are looking for.  Example: After Dinosaur 1 moves out of his/her parents' den what will Dinosaur 1 do?  We need to know his employment plan, feeding area, as well as living situation.  This information will not be sold or given to carnivores.</p>*@
	    <ul>
		    <li>
		        <div class="editor-label required">
                    @if (Model.Survey.ShortName.IsSpanish())
                    {
                        <label>Pregunta @( Model.AnsweredQuestions + 1) </label>
                    }
                    else
                    {
                        <label>Question @( Model.AnsweredQuestions + 1) </label>
                    }	
		            
		        </div>
            @{ 
                var ans = string.Empty; 
                var ansRange = string.Empty;
            }
            <div class="editor-field required">
                <input id="QuestionId" type="hidden" value="@Model.CurrentQuestion.Id" name="Questions.QuestionId" />
                @if (Model.CurrentQuestion.IsOpenEnded)
                {
                    if (Model.CurrentQuestion.PrimaryPhoto != null)
                    {
                        <img src='@Url.Action("GetPhoto", "SurveyResponse", new {id = Model.CurrentQuestion.PrimaryPhoto.Id})' class="parent-ques-img"/>
                    }
                    else
                    {
                        <img class="parent-ques-img"/>
                    }
                    @Html.HtmlEncode(Model.CurrentQuestion.Name) <br />
                    <div class="parent-response-options">
                        @if (Model.SurveyAnswer != null && Model.SurveyAnswer.Answer != null)
                        {
                            ans = Model.SurveyAnswer.Answer;
                        }
                        else
                        {
                            ans = string.Empty;
                        }
                        @if (Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.Time)
                        {
                            <input id="Questions" class="text-box single-line time" type="text" value="@ans" name="Questions.Answer"/>
                        } 
                        @if (Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.TimeAmPm)
                        {
                            <input id="Questions" class="text-box single-line timeRange" type="text" value="@ans" name="Questions.Answer"/>
                        } 
                        @if (Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.TimeRange)
                        {
                            if (Model.SurveyAnswer != null && Model.SurveyAnswer.AnswerRange != null)
                            {
                                ansRange = Model.SurveyAnswer.AnswerRange;
                            }
                            else
                            {
                                ansRange = string.Empty;
                            }
                            <input id="Questions" class="text-box single-line timeRange" type="text" value="@ans" name="Questions.Answer"/>
                            <input id="QuestionsRange" class="text-box single-line timeRange" type="text" value="@ansRange" name="Questions.AnswerRange"/>
                        }
                        @if (Model.CurrentQuestion.OpenEndedQuestionType == (int) NuSurvey.Core.Domain.QuestionType.WholeNumber || Model.CurrentQuestion.OpenEndedQuestionType == (int) NuSurvey.Core.Domain.QuestionType.Decimal)
                        {
                            <input id="Questions" class="text-box single-line" type="text" value="@ans" name="Questions.Answer" autocomplete="off" />
                        }
                    </div>

                        @*<input id="Questions" class="text-box single-line" type="text" value="@ans" name="Questions.Answer"/>  *@                 
                }
                else
                {
                    if (Model.CurrentQuestion.PrimaryPhoto != null)
                    {
                        <img src='@Url.Action("GetPhoto", "SurveyResponse", new {id = Model.CurrentQuestion.PrimaryPhoto.Id})' class="parent-ques-img"/>
                    }
                    else
                    {
                        <img class="parent-ques-img"/>
                    }
                    @Html.HtmlEncode(Model.CurrentQuestion.Name) <br />
                    <div class="parent-response-options">
                        <ul>
                            @foreach (var response in Model.CurrentQuestion.Responses.Where(a => a.IsActive).OrderBy(x => x.Order))
                            {
                                var isChecked = string.Empty;
                                if (Model.SurveyAnswer != null)
                                {
                                    if (response.Id == Model.SurveyAnswer.ResponseId)
                                    {
                                        isChecked = "checked=\"checked\"";
                                    }
                                }
                                <li>
                                    <label for="Questions[@response.Order]">@response.Value</label>
                                    <input id="Questions[@response.Order]" type="radio" value="@response.Id" @isChecked name="Questions.ResponseId"/>
                                    <div class="check">
                                        <div class="inside"></div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                @Html.ValidationMessage("Questions")
            </div>
		    </li>
		    <li>
			    @* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			    <label>&nbsp;</label>
                @if (Model.Survey.ShortName.IsSpanish())
                {
                    <input class="button" type="submit" value="Siguiente" />
                }
                else
                {
                    <input class="button" type="submit" value="Next" />
                }
                
		    </li>
	    </ul>
    </fieldset>
}

@Html.Partial("_SurveyResponseProgress")

@if (Model.Survey.ShortName.IsSpanish())
{
    <div class="display-form" id="opendialog" title="Se han producido errores, pero se puede hacer lo siguiente:" style="display: none;">
        <ul>
            <li>
                <span class="field-validation-error">
                    @Html.ValidationSummary("Errores:")
                </span>
            </li>
            <li>
                <input class="bypassOption button" type="button" value="Volver a la pregunta" data-bypass="" />
            </li>
            <li>
                <div style="display: inline-block; vertical-align: middle">
                    <input class="bypassOption button" type="button" value="Continúe con la pregunta siguiente" data-bypass="skip" style="margin-right: 10px;" />
                </div>
                <div style="display: inline-block; vertical-align: middle">
                    <div class="editor-field">
                        <label>Razón para saltar pregunta:</label>
                    </div>
                    <div class="editor-field">
                        <input class="bypassreason" id="BypassReason1" type="radio" name="BypassReason" value="*Not Known*" />
                        <label>No sé la respuesta.</label>
                        <br />
                        <input class="bypassreason" id="BypassReason2" type="radio" name="BypassReason" value="*Not Answered*" />
                        <label>No quiero responder.</label>
                    </div>
                </div>
            </li>

            @*            <li>
                    <input class="bypassOption button" type="button" value="I do not know the answer" data-bypass="*Not Known*" />
                </li>

                <li>
                    <input class="bypassOption button" type="button" value="I do not want to answer the question" data-bypass="*Not Answered*" />
                </li>*@
        </ul>
    </div>
}
else
{
    <div class="display-form" id="opendialog" title="There were errors but you can do the following:" style="display: none;">
        <ul>
            <li>
                <span class="field-validation-error">
                @Html.ValidationSummary("Errors:")
                </span>
            </li>
            <li>
                <input class="bypassOption button" type="button" value="Back To Question" data-bypass=""/>
            </li>
            <li>
                <div style="display: inline-block; vertical-align: middle">
                    <input class="bypassOption button" type="button" value="Continue To Next Question" data-bypass="skip" style="margin-right: 10px;"/>
                </div>
                <div style="display: inline-block; vertical-align: middle">
                    <div class="editor-field">
                        <label>Reason for skipping question:</label>
                    </div>
                    <div class="editor-field">
                        <input class="bypassreason" id="BypassReason1" type="radio" name="BypassReason" value="*Not Known*"/>
                        <label>I do not know the answer.</label>
                        <br/>
                        <input class="bypassreason" id="BypassReason2" type="radio" name="BypassReason" value="*Not Answered*"/>
                        <label>I do not want to answer.</label>
                    </div>
                </div>
            </li>

            @*            <li>
                <input class="bypassOption button" type="button" value="I do not know the answer" data-bypass="*Not Known*" />
            </li>

            <li>
                <input class="bypassOption button" type="button" value="I do not want to answer the question" data-bypass="*Not Answered*" />
            </li>*@
        </ul>
    </div>

}


