@model NuSurvey.Core.Domain.SurveyResponse
           
<div class="result_quiz">Your @Model.Survey.QuizType Quiz Results</div>

<fieldset class="result_fieldset_page">
    <div class="result_thanks">Thank you @Model.StudentId for taking the time to complete the @Model.Survey.Name quiz.<br />We hope this feedback will help you and your family make healthy food and activity choices.</div>

    <fieldset class="result_fieldset_positive">
        <div class="result_category positive">@Model.PositiveCategory.Affirmation</div>
    </fieldset>

    <div class="result_instructions">Check one major goal you would like to work on. Then choose one of the minor goals beneath it to work on this week.</div>

    <fieldset class="result_fieldset_goals">
    @if(Model.NegativeCategory1 != null){
    <fieldset class="result_fieldset_majorgoal">
                   
        <div class="result_majorgoal">
            <div class="result_checkbox">@Html.Raw("&#x25fb;")</div> @Model.NegativeCategory1.Encouragement
            <div class="result_goalcount">@Model.NegativeCategory1.CategoryGoals.Where(x => x.IsActive).Count() ways to do this would be:</div>
        </div>
    </fieldset>
    <div class="result_category group">
        <fieldset class="result_fieldset_minorgoals">
        
            <div class="result_minorgoals">    
                @foreach (var goal in Model.NegativeCategory1.CategoryGoals.Where(x => x.IsActive))
                { 
                    <div class="result_minorgoal">
                        <div class="result_checkbox">@Html.Raw("&#x25fb;")</div><div class="result_goalname">@goal.Name</div>
                    </div>
                }
            </div>
        </fieldset>        
    </div>
    }
    

    @if (Model.NegativeCategory2 != null)
    {
    <fieldset class="result_fieldset_majorgoal">
    
        <div class="result_majorgoal">
            <div class="result_checkbox">@Html.Raw("&#x25fb;")</div> 
            @Model.NegativeCategory2.Encouragement
            <div class="result_goalcount">@Model.NegativeCategory2.CategoryGoals.Where(x => x.IsActive).Count() ways to do this would be:</div>
        </div>
    </fieldset>
    <div class="result_category group">
        <fieldset class="result_fieldset_minorgoals">
        
        <div class="result_minorgoals"> 
            @foreach (var goal in Model.NegativeCategory2.CategoryGoals.Where(x => x.IsActive))
            { 
                <div class="result_minorgoal">
                    <div class="result_checkbox">@Html.Raw("&#x25fb;")</div><div class="result_goalname">@goal.Name</div>
                </div>
            }
        </div>
        </fieldset>
    </div>
    }
    
    </fieldset>
    
</fieldset>





