@model NuSurvey.Web.Controllers.SingleAnswerSurveyResponseViewModel


@{
    ViewBag.Title = "Next Question";

}


@section AdditionalScripts{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.ui.timepicker.js")'></script>
    

    <script type="text/javascript">
        $(document).ready(function () {
            var percent = (@Model.AnsweredQuestions / @Model.TotalActiveQuestions) * 100;
            $("#progressbar").progressbar({ value: percent });
            
            $('.time').timepicker({
                defaultTime: '1:00',
                showLeadingZero: false,
                showPeriodLabels: false,
                hours: {
                    starts: 1,                  // first displayed hour
                    ends: 12                    // last displayed hour
                },
                minutes: {
                    starts: 0,                  // first displayed minute
                    ends: 55,                   // last displayed minute
                    interval: 5                 // interval of displayed minutes
                },
                rows: 3
            });

            $('.timeRange').timepicker({
                defaultTime: '1:00',
                showLeadingZero: false,
                showPeriod: true,
                rows: 4
            });

            if('@Model.DisplayBypass' == 'True'){
                $("#opendialog").dialog({ modal: true, width: '40%',  });
            }

            $(".bypassOption").click(function (e) {
                e.preventDefault();
                var byPassAnswer = $(this).data("bypass");
                if(!byPassAnswer == ""){
                    var reason = $(".bypassreason:checked").val();
                    if(reason == undefined){
                        alert("You must select a reason to skip the question, or go back to the question");
                    }
                    else{
                         $("#byPassAnswer").val(reason); 
                         $("#opendialog").dialog("close");  
                         $("form").submit();
                    }
                }
                else{
                    $("#opendialog").dialog("close");
                }
            });

        });
    </script>
}


@Html.Partial("_SurveyResponseProgress")

@using (Html.BeginForm())
{        
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
    @Html.HiddenFor(x => x.SurveyResponse.Id)
    <input id="byPassAnswer" name="byPassAnswer" type="hidden" />

    <fieldset>
    @* Legend is required if you have more than one widget/unit to help the user understand what is being asked of them.
    Example: Dinosaur 1  *@
	    @*<legend>Survey Response</legend>*@
	    @*<p>Be specific so the user understands what exactly you are looking for.  Example: After Dinosaur 1 moves out of his/her parents' den what will Dinosaur 1 do?  We need to know his employment plan, feeding area, as well as living situation.  This information will not be sold or given to carnivores.</p>*@
	    <p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
	    <ul>
		    <li>
            <div class="editor-label required">
                <label>@Model.CurrentQuestion.Order. @Html.HtmlEncode(Model.CurrentQuestion.Name) <span>*</span></label>
            </div>
            @{ 
                var ans = string.Empty; 
                var ansRange = string.Empty;
            }
            <div class="editor-field required">
                <input id="QuestionId" type="hidden" value="@Model.CurrentQuestion.Id" name="Questions.QuestionId" />
                @if (Model.CurrentQuestion.IsOpenEnded)
                {
                    if (Model.SurveyAnswer != null && Model.SurveyAnswer.Answer != null)
                    {
                        ans = Model.SurveyAnswer.Answer;
                    }
                    else
                    {
                        ans = string.Empty;
                    }
                    if (Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.Time)
                    {
                        <input id="Questions" class="text-box single-line time" type="text" value="@ans" name="Questions.Answer"/>
                    } 
                    if (Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.TimeAmPm)
                    {
                        <input id="Questions" class="text-box single-line timeRange" type="text" value="@ans" name="Questions.Answer"/>
                    } 
                    if (Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.TimeRange)
                    {
                        if (Model.SurveyAnswer != null && Model.SurveyAnswer.AnswerRange != null)
                        {
                            ansRange = Model.SurveyAnswer.AnswerRange;
                        }
                        else 
                        {
                            ansRange = string.Empty;
                        }
                        <input id="Questions" class="text-box single-line timeRange" type="text" value="@ans" name="Questions.Answer"/>
                        <input id="QuestionsRange" class="text-box single-line timeRange" type="text" value="@ansRange" name="Questions.AnswerRange"/>
                    }
                    if (Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.WholeNumber || Model.CurrentQuestion.OpenEndedQuestionType == (int)NuSurvey.Core.Domain.QuestionType.Decimal)
                    {
                        <input id="Questions" class="text-box single-line" type="text" value="@ans" name="Questions.Answer"/>
                    }
                    @*<input id="Questions" class="text-box single-line" type="text" value="@ans" name="Questions.Answer"/>  *@                 
                }
                else
                {
                    foreach (var response in Model.CurrentQuestion.Responses.Where(a => a.IsActive).OrderBy(x => x.Order))
                    {
                        var isChecked = string.Empty;
                        if (Model.SurveyAnswer != null)
                        {
                            if (response.Id == Model.SurveyAnswer.ResponseId)
                            {
                                isChecked = "checked=\"checked\"";
                            }
                        }
                        <input id="Questions[@response.Order]" type="radio" value="@response.Id" @isChecked name="Questions.ResponseId" />                             
                        <label for="Questions[@response.Order]">@response.Value</label> <br />
                    }
                }
                @Html.ValidationMessage("Questions")
            </div>
		    </li>
		    <li>
			    @* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			    <label>&nbsp;</label>
			    <input class="button" type="submit" value="Next" /> | @Html.ActionLink("Cancel", "Index")
		    </li>
	    </ul>
    </fieldset>
}


    <div class="display-form" id="opendialog" title="There were errors but you can do the following:" style="display: none;">
        <ul>
            <li>
                <span class="field-validation-error">
                @Html.ValidationSummary("Errors:")
                </span>
            </li>
            <li>
                <input class="bypassOption button" type="button" value="Back To Question" data-bypass="" />
            </li>
            <li>
                <div style="display:inline-block; vertical-align: middle">
                    <input class="bypassOption button" type="button" value="Continue To Next Question" data-bypass="skip" style="margin-right: 10px;" /> 
                </div>
                <div style="display:inline-block; vertical-align: middle">
                    <div class="editor-field">
                        <label>Reason for skipping question:</label>
                    </div>
                    <div class="editor-field">
                        <input class="bypassreason" id="BypassReason1" type="radio" name="BypassReason" value="*Not Known*" />
                        <label>I do not know the answer.</label>
                        <br/>
                        <input class="bypassreason" id="BypassReason2" type="radio" name="BypassReason" value="*Not Answered*" />
                        <label>I do not want to answer.</label>                            
                    </div>
                </div>
            </li>

@*            <li>
                <input class="bypassOption button" type="button" value="I do not know the answer" data-bypass="*Not Known*" />
            </li>

            <li>
                <input class="bypassOption button" type="button" value="I do not want to answer the question" data-bypass="*Not Answered*" />
            </li>*@
        </ul>
    </div>




