@model NuSurvey.Web.Controllers.ResultsViewModel


@{
    ViewBag.Title = "Quiz Results";
}

@if (Model.ShowPdfPrint) {            
    <div id="pdf_print">
        @if (Model.PublicGuid == null)
        {
            <a class="col1" href='@Url.Action("Result", "Print", new {id = @Model.SurveyResponse.Id})' target="_blank"><img alt="Print this result" src="@Url.Image("big_print.png")"/></a>
        }
        else
        {
             <a class="col1" href='@Url.Action("Result", "Print", new { id = @Model.SurveyResponse.Id, publicGuid = @Model.PublicGuid })' target="_blank"><img alt="Print this result" src="@Url.Image("big_print.png")"/></a>
        }
    </div>
}

@Html.Partial("_Results", @Model.SurveyResponse)


<p>
    @if (Model.PublicGuid == null)
    {  @Html.ActionLink("Back to Survey List", "Index")}
    else
    { @Html.ActionLink("Back to Survey List", "PublicSurveys")}
</p>


@section AdditionalScripts{

    <style type="text/css">
        .col1.results
        {
        	display:none;
        }
    </style>
}

