@model NuSurvey.MVC.Controllers.CategoryGoalViewModel

		<li>
			<div class="editor-label required">
				@Html.LabelFor(model => model.CategoryGoal.Name)<span>*</span> 
			</div>
			<div class="editor-field wideText LimitCharacters">
				@Html.EditorFor(model => model.CategoryGoal.Name)                
				@Html.ValidationMessageFor(model => model.CategoryGoal.Name)
			</div>
		</li>
		<li>
			<div class="editor-label">
				@Html.LabelFor(model => model.CategoryGoal.IsActive) 
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.CategoryGoal.IsActive)
				@Html.ValidationMessageFor(model => model.CategoryGoal.IsActive)
			</div>
		</li>


