@model NuSurvey.Web.Controllers.CategoryGoalViewModel

@{
    ViewBag.Title = "Goal Details";
}

@section SubNav {
    <ul class="navigation">
        <li>
            <a href="@Url.Action("Index", "Survey")">Surveys</a> 
        </li>
        <li>
            <a href="@Url.Action("Edit", "Survey", new { id = @Model.Survey.Id })">Edit Survey</a> 
        </li>
        <li>
            <a href="@Url.Action("Edit", "Category", new { id = @Model.Category.Id })">Edit Category</a>
        </li>
        <li>
            Details
        </li>
    </ul>
}


	<ul>
		<li>
			<div class="display-label">Goal</div>
			<div class="display-field">@Model.CategoryGoal.Name</div>
		</li>
		<li>
			<div class="display-label">Active</div>
			<div class="display-field">@Model.CategoryGoal.IsActive</div>
		</li>
	</ul>


