@model NuSurvey.Core.Domain.Survey

    <h2>All Questions</h2>
    <p class="specialMe">
	    @Html.ActionLink("Create New", "Create", "Question", new {id = Model.Id }, new { })  
    </p>
    <p class="specialMe rightAway">
        <a class="rightAway" href='@Url.Action("ReOrder", "Question", new { id = @Model.Id })'>Change Order</a>
    </p>
    <table class="datatable questions">
	    <thead>
		    <tr>
			    <th></th>
			    <th>
				    Order
			    </th>
			    <th>
				    Rank
			    </th>
			    <th>
				    Question
			    </th>
                <th>
                    Open Ended
                </th>
                <th>
                    Choices
                </th>
                <th>
                    Active
                </th>
                <th>Ignore</th>
		    </tr>
	    </thead>
	    <tbody>
    @{ var odd = false; }
    @foreach (var item in Model.Questions.Where(a => a.Category.IsCurrentVersion)) {
		    <tr class="@(odd ? "odd": "even")">
			    <td>
                    <a href='@Url.Action("Details", "Question", new { id = @item.Id })'><img alt="View the details of this Question" src="@Url.Image("details.png")"/></a>
                    <a href='@Url.Action("Edit", "Question", new { id = @item.Id, surveyId = @Model.Id })'><img alt="Edit this Question" src="@Url.Image("edit.png")"/></a>                    
			    </td>
			    <td>
				    @item.Order
			    </td>
			    <td>
				    @item.Category.Rank
			    </td>
			    <td>
				    @*@Html.Raw(item.Name)*@
                    @Html.HtmlEncode(item.Name)
			    </td>
                <td>
                    @if (item.IsOpenEnded) { 
                    @item.IsOpenEnded
                    }
                </td>
                <td>
                    @item.Responses.Where(a => a.IsActive).Count() -  @item.Responses.Where(a => !a.IsActive).Count()
                </td>
			    <td>
                    @if (item.IsActive){ 
                        @item.IsActive
                    }
			    </td>
                <td>
                    @if (item.Category.DoNotUseForCalculations){ 
                        @item.Category.DoNotUseForCalculations
                    }
			    </td>
		    </tr>
                    odd = !odd;
    }
	    </tbody>
    </table>



