@model NuSurvey.Core.Domain.Survey

@{
	ViewBag.Title = "Survey Responses";
}

@section AdditionalScripts{
     <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.dataTables.min.js")'></script>

    <script type="text/javascript">
        $(function () {
            $("table.datatable").dataTable({ "bJQueryUI": true });
        });    
    </script>
}
@section SubNav {
    <ul class="navigation">
        <li>
            <a href="/Survey/Index">Surveys</a> 
        </li>
        <li>
            <a href="/Survey/Details/@Model.Id" >Responses</a> 
        </li>
    </ul>
}


@*<h2>Details</h2>*@

@*<p>
	@Html.ActionLink("Create New", "Create")
</p>*@
<table class="datatable">
	<thead>
		<tr>
			<th></th>
			<th>
				StudentId
			</th>
			<th>
				DateTaken
			</th>
            <th>
                Positive Category
            </th>
            <th>
                Negative Category
            </th>
            <th>
                Negative Category
            </th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model.SurveyResponses) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				@Html.ActionLink("Details", "Details", "SurveyResponse", new { id = item.Id }, new { })
				@*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
			</td>
			<td>
				@item.StudentId
			</td>
			<td>
				@String.Format("{0:g}", item.DateTaken)
			</td>
            <td>
                @if (item.PositiveCategory != null) { 
                    @item.PositiveCategory.Name
                }
            </td>
            <td>
                @if (item.NegativeCategory1 != null) { 
                    @item.NegativeCategory1.Name
                }
            </td>
            <td>
                @if (item.NegativeCategory2 != null) {
                    @item.NegativeCategory2.Name
                }
            </td>
		</tr>
		odd = !odd;
}
	</tbody>
</table>



