@model IEnumerable<NuSurvey.Core.Domain.Survey>

@{
	ViewBag.Title = "Surveys";
}

@section AdditionalScripts{
     <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.dataTables.min.js")'></script>

    <script type="text/javascript">
        $(function () {
            $("table.datatable").dataTable({ "bJQueryUI": true });
        });    
    </script>
}

@section SubNav {
    <ul class="navigation">
        <li>
            Surveys
        </li>
    </ul>
}

@*<h2>Index</h2>*@


<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="datatable">
	<thead>
		<tr>
			<th></th>
			<th>
				Name
			</th>
			<th>
				ShortName
			</th>
			<th>
				IsActive
			</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
                <a href='@Url.Action("Details", "Survey", new { id = @item.Id })'><img alt="View the details of this Survey" src="@Url.Image("details.png")"/></a>                
                <a href='@Url.Action("Edit", "Survey", new { id = @item.Id })'><img alt="Edit this Survey" src="@Url.Image("edit.png")"/></a>                
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.ShortName
			</td>
			<td>
				@item.IsActive
			</td>
		</tr>
		odd = !odd;
}
	</tbody>
</table>


