@model IEnumerable<NuSurvey.Core.Domain.Survey>

@{
	ViewBag.Title = "Surveys";
}

@*<h2>Index</h2>*@

<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table class="datatable">
	<thead>
		<tr>
			<th></th>
			<th>
				Name
			</th>
			<th>
				ShortName
			</th>
			<th>
				IsActive
			</th>
		</tr>
	</thead>
	<tbody>
@{ var odd = false; }
@foreach (var item in Model) {
		<tr class="@(odd ? "odd": "even")">
			<td>
				@*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
				@Html.ActionLink("Details", "Details", new { id=item.Id }) 
				@*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
			</td>
			<td>
				@item.Name
			</td>
			<td>
				@item.ShortName
			</td>
			<td>
				@item.IsActive
			</td>
		</tr>
		odd = !odd;
}
	</tbody>
</table>

<script type="text/javascript">
	$(function () {
		$("table.datatable").dataTable({
			"bJQueryUI": true //Use the jquery ui skin
			//"aaSorting": [[ 3, "asc" ]] //Add default sorting
		});
	});
</script>

