@model NuSurvey.Web.Models.EditUserViewModel

@{
    ViewBag.Title = "Delete User";
}

@section SubNav {
    <ul class="navigation">
        <li>
            <a href="@Url.Action("Administration", "Home")">Admin Home</a> 
        </li>
        <li>
            <a href="@Url.Action("ManageUsers", "Account")">Manage Users</a> 
        </li>
        <li>
            Delete
        </li>
    </ul>
}


    @Html.Partial("_UserDetails")
<fieldset class="display-form"> 
<legend>Roles</legend>
<ul>
@*		<li>
			<div class="display-label">Email</div>
			<div class="display-field">@Model.Email</div>
		</li>*@
		<li>
            <div class="editor-field">
				@Html.DisplayFor(x => x.IsAdmin) @Html.Label("Is Admin")
			</div>
		</li>
		<li>
            <div class="editor-field">
				@Html.DisplayFor(x => x.IsUser) @Html.Label("Is User")
			</div>
		</li>
</ul>
</fieldset>



@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()    

<fieldset>
<h3>Are you sure you want to delete this user?</h3>
	<ul>   
        <li>
            <div class="editor-label">
				@Html.Label("Confirm Delete") 
			</div>
			<div class="editor-field">
				@Html.EditorFor(model => model.Confirm)
			</div>
        </li>
		
		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			<label>&nbsp;</label>
			<input class="button" type="submit" value="Delete" /> | @Html.ActionLink("Cancel", "ManageUsers")
		</li>
	</ul>
</fieldset>
}


