@model NuSurvey.MVC.Models.ForgotPasswordModel
@using NuSurvey.MVC.Helpers

@{
	ViewBag.Title = "Forgot Password";

}


@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to LogOn", "LogOn")</li>
	</ul>
}

@using (Html.BeginForm()) {
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)
<fieldset>
	<p>All required fields are in <strong>bold</strong> and have a red <span class="required">*</span> next to the field label.</p>
    <p>An email will be sent to you with a new password.</p>
	<ul>

		<li>
			<div class="editor-label required">
				@Html.LabelFor(model => model.UserName)<span>*</span> 
			</div>
			<div class="editor-field wideText">
				@Html.EditorFor(model => model.UserName)
				@Html.ValidationMessageFor(model => model.UserName)
			</div>
		</li>

        <li>
            <div class="editor-field">        
                @Html.GenerateCaptcha()
                @Html.ValidationMessage("Captcha")
            </div>
        </li>

		<li>
			@* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
			<div class="editor-label">&nbsp;</div>
			<div class="editor-field">
			<input class="button" type="submit" value="Reset Password" /> | @Html.ActionLink("Cancel", "LogOn")
			</div>
		</li>
	</ul>
</fieldset>
}




