@using NuSurvey.Core.Domain
@model NuSurvey.Core.Domain.PrintedSurvey


@section SubNav {
    <ul class="navigation">
        <li>
            <a href="@Url.Action("Index", "ProgramDirector")">Back to list</a>
        </li>
    </ul>
}

@Html.AntiForgeryToken()
@using (Html.BeginForm("SetName", "ProgramDirector", FormMethod.Post, new { @class = "survey-name" }))
{
    @Html.AntiForgeryToken()
    <ul>
        <li>
            <div class="editor-label">
                @Html.Label("Change File Name")
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </li>
        <li>
            @* For the clear and submit buttons an empty label is required. Example: <label>&nbsp;</label> *@
            <label>&nbsp;</label>
            <input class="button" type="submit" value="Continue" />
        </li>
    </ul>
}