@model NuSurvey.MVC.Controllers.HomeController.HomeViewModel
           
@{
    ViewBag.Title = "Healthy Kids - Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@section AdditionalScripts
{
    <script type="text/javascript" src='@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.bt.min.js")'></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('.balloon').bt({ positions: 'bottom' });
        });
    </script>

}

<span class="SpecialFont">
    <div id="parents">
        <div class="container-center">
            <div id="parents-left">
                <h2>PARENTS</h2>
                <p>Want to keep your child healthy?</p>
                <p>Take the survey and have goals created just for you and your child!</p>
                <img src="@Url.Image("arrow.png")" alt="Select a Survey" />
            </div>
	
            @*<div id="parents-right">
                <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new { shortname = "HK"})'><img src="@Url.Image("hk-thumb.png")" alt="Healthy Kids Survey"  /></a> 
                <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new { shortname = "MCMT" })'><img src="@Url.Image("mcmt-thumb.png")" alt="My Child At Mealtime Survey" /></a> 
            
            </div>*@
            <div id="parents-right">
                <div id="hk-home">
                    <img src="@Url.Image("hk-thumb.png")" alt="Healthy Kids Survey" />
                    
                    <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new {shortname = "HK19"})'>
                        <div class="survey-button svy-btn-left">
                            <p>English</p>
                        </div>
                    </a> 
                    <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new {shortname = "HKS"})'>
                        <div class="survey-button svy-btn-right">
                            <p>en Español</p>
                        </div>
                    </a>
                </div>
                <div id="mcmt-home">
                    <img src="@Url.Image("mcmt-thumb.png")" alt="My Child At Mealtime Survey" />
                    <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new {shortname = "MCMT"})'>
                        <div class="survey-button svy-btn-left">
                            <p>English</p>
                        </div>
                    </a> 
                    <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new {shortname = "MCMTS"})'>
                        <div class="survey-button svy-btn-right">
                            <p>en Español</p>
                        </div>
                    </a>
                </div>
            </div>
            <br style="clear:both">
        </div> <!--- END main MLR 121313 --->

    </div>
    @if (ViewBag.OnlyParent == null || ViewBag.OnlyParent == false)
    {
        <div id="staff">
            <div class="container-center">
                <div id="staff-left">
                    <h3>Educators</h3>
                    <p>Using these surveys with your classes?  <i>Healthy Kids</i> or <i>My Child at Meal Time</i>?</p>
                    <p>Enter several completed surveys using this page. Personalized goals will be created and can be printed for each participant.</p>
                    <a href='@Url.Action("Index", "Educator")'>
                        <div class="login-button">
                            <p>Login Here</p>
                        </div>
                    </a>
                    <p class="float-right">New User? @Html.ActionLink("Create an account here.", "OpenRegister", "Account")</p>
                </div>

                <div id="staff-right">
                    <h3>Directors</h3>
                    <p>Want to use these surveys with your program?  Register and open an account to have access to these tools.</p>
                    <p>Download the current <i>Healthy Kids</i> or <i>My Child at Meal Time</i> surveys or create photo-customized versions tailored to your target audience.</p>
                    <a href='@Url.Action("Index", "ProgramDirector")'>
                        <div class="login-button">
                            <p>Login Here</p>
                        </div>
                    </a>
                    <p class="float-right">New User? @Html.ActionLink("Create an account here.", "OpenRegister", "Account")</p>
                </div>
                <br style="clear: both">
            </div> 

        </div>
    }
</span>

