﻿@model NuSurvey.MVC.Controllers.HomeController.HomeViewModel

@{
    ViewBag.Title = "Healthy Kids - Home Page";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.IsKiosk = true;
}

@section AdditionalScripts
{


}

<section>

    <div class="square w-50per">
        <div class="square w-50per">
            <img src="@Url.Image("fff_50x50.jpg")" class="sq-setter-w" />
            <div class="sq-content"><img src="@Url.Image("block1.jpg")" style="width: 100%;" /></div>
        </div>

        <div class="square w-50per">
            <img src="@Url.Image("fff_50x50.jpg")" class="sq-setter-w" />
            <div class="sq-content"><img src="@Url.Image("block2.jpg")" style="width: 100%;" /></div>
        </div>

        <div class="square w-50per">
            <img src="@Url.Image("fff_50x50.jpg")" class="sq-setter-w" />
            <div class="sq-content"><img src="@Url.Image("block3.jpg")" style="width: 100%;" /></div>
        </div>

        <div class="square w-50per test">
            <img src="@Url.Image("fff_50x50.jpg")" class="sq-setter-w" />
            <div class="sq-content"><img src="@Url.Image("block4.jpg")" style="width: 100%;" /></div>
        </div>
    </div>


    <div class="square w-50per">
        <img src="@Url.Image("fff_50x50.jpg")" class="sq-setter-w" />
        <div class="sq-content sq-50per-content">
            <h1 class="kiosk-h1">Want to keep your child healthy?</h1>
            <p class="kiosk-p">Take the Healthy Kids quiz and have tips created just for you and your child!</p>
            <p class="kiosk-p">Share the results with your doctor and together select one tip to work on this week.</p>
            <!-- Removed a paragraph because the content is in the background graphic we are adding -->
            <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new {shortname = "K22Q", kioskEmail = true})' class="kiosk-button">Start Quiz</a>
        </div>
    </div>

</section>

