@model NuSurvey.MVC.Controllers.HomeController.HomeViewModel

@{
    ViewBag.Title = "Página Principal";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.IsSpanish = true;
}

@section AdditionalScripts
{
    <script type="text/javascript" src='@Url.Content("~/Scripts/DataTables/jquery.dataTables.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("~/Scripts/jquery.bt.min.js")'></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.balloon').bt({ positions: 'bottom' });
        });
    </script>

}

<span class="SpecialFont">
    <div id="parents">
        <div class="container-center">
            <div id="parents-left">
                <h2>Padres</h2>
                <p>¿Quieren mantener a su niño(a) sano(a)?</p>
                <p>¡Llene la encuesta y metas serán hechas para usted y su niño(a)!</p>
                <img src="@Url.Image("arrow-sp.png")" alt="Seleccione una encuesta" />
            </div>

            <div id="parents-right">
                <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new { shortname = "HKS"})'><img src="@Url.Image("hk-sp-thumb.png")" alt="Encuesta de Niños Saludables" /></a>
                <a href='@Url.Action("FindAndStartSurvey", "SurveyResponse", new { shortname = "MCMTS" })'><img src="@Url.Image("mcmt-sp-thumb.png")" alt="Mi hijo a la hora de la comida" /></a>

            </div>
            <br style="clear:both">
        </div> <!--- END main MLR 121313 --->

    </div>
    
</span>

